# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [19]:
# Import your libraries:

import pandas as pd
import numpy as np
import scipy
from sklearn import datasets
from sklearn.linear_model import LinearRegression

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [31]:
# Your code here:

diabetes = datasets.load_diabetes()
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttp://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(http://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'C:\\Users\\Claire\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'C:\\Users\\Claire\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [5]:
# Your code here:

diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [10]:
# Your code here:

print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
http://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(http://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [16]:
# Your code here:

diabetes.data.shape

(442, 10)

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [35]:
# Your code here:

X=diabetes.data
y=diabetes.target

Initialize the model in the variable `diabetes_model`

In [36]:
# Your code here:

diabetes_model = LinearRegression().fit(X, y)
diabetes_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [37]:
# Your code here:

print(diabetes_model.intercept_)
print(diabetes_model.coef_)

152.1334841628965
[ -10.01219782 -239.81908937  519.83978679  324.39042769 -792.18416163
  476.74583782  101.04457032  177.06417623  751.27932109   67.62538639]

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [38]:
# Your code here:

import statsmodels.api as sm
diabetes_model2 = sm.OLS(diabetes.target, diabetes.data)
results = diabetes_model2.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.106
Model:                            OLS   Adj. R-squared:                  0.085
Method:                 Least Squares   F-statistic:                     5.100
Date:                Tue, 17 Sep 2019   Prob (F-statistic):           4.72e-07
Time:                        12:05:30   Log-Likelihood:                -2873.9
No. Observations:                 442   AIC:                             5768.
Df Residuals:                     432   BIC:                             5809.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           -10.0122    179.967     -0.056      0.956    -363.731     343.707
x2          -239.8191    184.404     -1.301      0.194    -602.259     122.621
x3           519.8398    200.401      2.594      0.010     125.957     913.723
x4           324.3904    197.053      1.646      0.100     -62.912     711.692
x5          -792.1842   1255.066     -0.631      0.528   -3258.979    1674.611
x6           476.7458   1021.183      0.467      0.641   -1530.360    2483.851
x7           101.0446    640.155      0.158      0.875   -1157.162    1359.251
x8           177.0642    486.370      0.364      0.716    -778.882    1133.010
x9           751.2793    517.774      1.451      0.148    -266.391    1768.950
x10           67.6254    198.747      0.340      0.734    -323.005     458.256
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   0.223
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         21.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [71]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [72]:
# Your code here:

auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [97]:
# Your code here:

auto.info()
auto.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horse_power     392 non-null float64
weight          392 non-null int64
acceleration    392 non-null float64
model_year      392 non-null int64
car_name        392 non-null object
dtypes: float64(4), int64(3), object(1)
memory usage: 27.6+ KB

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [98]:
pd.to_numeric(auto.car_name, error='coerce')

TypeError: to_numeric() got an unexpected keyword argument 'error'

What is the newest model year and the oldest model year?

In [74]:
# Your code here:

print(f'Oldest : {auto.model_year.min()}, newest : {auto.model_year.max()}')

Oldest : 70, newest : 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [91]:
# Your code here:

auto.loc[pd.isnull(auto).any(axis=1)]
# 6 rows with 1 missing value each

Empty DataFrame
Columns: [mpg, cylinders, displacement, horse_power, weight, acceleration, model_year, car_name]
Index: []

In [84]:
auto.dropna(axis=0, inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [85]:
# Your code here:

auto.cylinders.value_counts()
#5

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [92]:
# Import the necessary function

auto1=auto.drop('car_name', axis=1)
auto1.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
dtype: int64

In [93]:
# Your code here:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(auto1.drop(columns='mpg', axis=1), auto1.mpg, test_size=0.33, random_state=42)

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [99]:
# Your code here:

from sklearn.linear_model import LinearRegression

auto_model = LinearRegression().fit(X_train, y_train)
auto_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

Next, fit the model in the cell below.

In [192]:
# Your code here:

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [107]:
# Import the necessary function:

y_pred=auto_model.predict(X_test)
y_pred

array([26.55068152, 26.10140819, 33.20987254, 27.59247453, 29.36519236,
       29.33950917,  7.79341592, 29.52551657, 21.30279791, 29.66662996,
       12.20314505, 23.74227206, 16.26842084, 28.49047012, 21.78655139,
       30.87633961, 21.61961617, 31.67474959, 27.98771144, 29.69633749,
       20.43189773, 34.88866879, 33.98326205, 15.34376237, 29.12613817,
       26.23403055, 21.45677681, 17.17928349, 29.41160939, 24.45680247,
       12.972582  , 23.97284147, 21.29531639, 30.04496085, 11.27506384,
       34.65653569, 11.13521202, 26.71257367, 11.9437424 ,  7.45203957,
       13.13718708, 28.11992329, 34.60674424, 26.75819789, 11.48596952,
        8.69698568, 18.27245185, 31.49142119, 26.13314739, 30.5550658 ,
       11.84692256, 25.42445376, 24.95170653, 33.22403957, 28.65311305,
       18.34049482, 20.97483577, 23.51224855, 23.57938473, 24.88382136,
        7.21892102, 23.41326566, 27.01603731, 23.43102895, 28.10422477,
       28.94996349, 26.95479258, 29.83029554, 22.36454484,  9.20642386,
       24.62791329, 13.26192499, 25.19429023, 26.97628212, 24.42228388,
       26.25707362, 13.76520472, 15.53437678, 24.90980306, 21.21327306,
       26.3962383 , 22.76912702, 12.61860233, 34.77174041, 14.48931013,
       34.17899954, 28.0070776 , 23.93441994, 17.55590275, 17.38130814,
       26.76495916, 26.59575485, 31.24129367, 30.74762978, 21.8952454 ,
       18.01611889, 20.90268913,  9.7864499 , 27.75074082, 20.78890034,
        8.70977969, 17.51498477,  9.04558817, 27.98859989, 30.90798234,
       33.67648767, 35.5181675 , 24.0653466 , 23.11682379, 19.881938  ,
       34.79672054, 32.70607387, 26.00701799, 24.86548127, 33.12779754,
       29.46398367, 19.5135451 , 22.72420805, 25.58238817, 22.20412743,
       30.05072401, 21.63778364, 20.24746941, 34.95315513, 24.8083353 ,
       26.21706418, 30.99081695, 29.53491893, 21.11854415, 32.48919394])

In [194]:
# Your code here:

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [109]:
# Your code here:

from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.7994186764043839

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [110]:
# Your code here:

X_train, X_test, y_train, y_test = train_test_split(auto1.drop(columns='mpg', axis=1), auto1.mpg, test_size=0.1, random_state=42)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [197]:
# Your code here:

auto_model = LinearRegression().fit(X_train, y_train)

Compute the predicted values and r squared score for our new model and new sample data.

In [111]:
# Your code here:

y_pred=auto_model.predict(X_test)
r2_score(y_test, y_pred)

0.8434546663402133

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [112]:
# Your code here:

X_test

     cylinders  displacement  horse_power  weight  acceleration  model_year
79           4          96.0         69.0    2189          18.0          72
276          4         121.0        115.0    2795          15.7          78
248          4          91.0         60.0    1800          16.4          78
56           4          91.0         70.0    1955          20.5          71
393          4         140.0         86.0    2790          15.6          82
205          4          97.0         75.0    2155          16.4          76
43           8         400.0        170.0    4746          12.0          71
235          4          97.0         75.0    2265          18.2          77
152          6         225.0         95.0    3264          16.0          75
117          4          68.0         49.0    1867          19.5          73
9            8         390.0        190.0    3850           8.5          70
210          6         156.0        108.0    2930          15.5          76
289          8         350.0        155.0    4360          14.9          79
167          4          97.0         75.0    2171          16.0          75
277          6         163.0        133.0    3410          15.8          78
367          4         112.0         88.0    2605          19.6          82
125          6         198.0         95.0    3102          16.5          74
356          4         108.0         75.0    2350          16.8          81
296          4         121.0         80.0    2670          15.0          79
335          4         122.0         88.0    2500          15.1          80
15           6         198.0         95.0    2833          15.5          70
394          4          97.0         52.0    2130          24.6          82
349          4          91.0         68.0    1985          16.0          81
0            8         307.0        130.0    3504          12.0          70
142          4          79.0         67.0    1963          15.5          74
114          4          98.0         90.0    2265          15.5          73
78           4         120.0         87.0    2979          19.5          72
34           6         225.0        105.0    3439          15.5          71
102          4          97.0         46.0    1950          21.0          73
77           4         121.0         76.0    2511          18.0          72
157          8         350.0        145.0    4440          14.0          75
257          6         232.0         90.0    3210          17.2          78
291          8         267.0        125.0    3605          15.0          79
358          4         120.0         74.0    2635          18.3          81
91           8         400.0        150.0    4464          12.0          73
385          4          91.0         67.0    1995          16.2          82
139          8         302.0        140.0    4638          16.0          74
58           4          97.5         80.0    2126          17.0          72
74           8         302.0        140.0    4294          16.0          72
25           8         360.0        215.0    4615          14.0          70

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [113]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [116]:
# Your code here:

selector = RFE(auto_model, 3)
selector.fit(X_train, y_train)
selector.ranking_

array([1, 3, 4, 2, 1, 1])

Fit the model and print the ranking

In [118]:
# Your code here:

X_train.head()
auto_model2= LinearRegression().fit(X_train[['cylinders','acceleration','model_year']], y_train)

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [119]:
# Your code here:

y_pred2=auto_model2.predict(X_test[['cylinders','acceleration','model_year']])
y_pred2

array([24.69571127, 29.43077311, 29.38558168, 23.76988402, 32.49494617,
       27.8567231 , 12.16972566, 28.50494586, 21.04366178, 25.36330178,
       11.63125352, 21.84037066, 18.09793831, 27.11811749, 23.34986147,
       32.23670943, 20.2469529 , 31.65304586, 30.24039382, 30.99836719,
       17.25379495, 31.9139135 , 31.70469321, 11.40529638, 26.3859678 ,
       25.62153851, 24.59887249, 18.01822423, 25.266463  , 24.69571127,
       15.09832444, 23.25947862, 18.09148239, 31.55620708, 13.69858424,
       32.45621065, 14.20477678, 24.76027045, 12.67591821, 11.27617801])

In [121]:
r2_score(y_pred2,y_test)

0.6863003237229583

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [203]:
# Your code here: