In [1]:
#import pandas

import pandas as pd
import re
import numpy as np
import time

In [2]:
#import data

sharks = pd.read_csv('C:/Users/Claire/Downloads/GSAF5/GSAF5.csv', engine = 'python')

In [3]:
#check shape and info

print(sharks.shape)
print("")
sharks.info()

(5992, 24)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
Case Number               5992 non-null object
Date                      5992 non-null object
Year                      5992 non-null int64
Type                      5992 non-null object
Country                   5949 non-null object
Area                      5590 non-null object
Location                  5496 non-null object
Activity                  5465 non-null object
Name                      5792 non-null object
Sex                       5425 non-null object
Age                       3311 non-null object
Injury                    5965 non-null object
Fatal (Y/N)               5973 non-null object
Time                      2779 non-null object
Species                   3058 non-null object
Investigator or Source    5977 non-null object
pdf                       5992 non-null object
href formula              5991 non-null object
href                      5989 non-null object
Case Number.1             5992 non-null object
Case Number.2             5992 non-null object
original order            5992 non-null int64
Unnamed: 22               1 non-null object
Unnamed: 23               2 non-null object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [4]:
#Check for data type

sharks.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [5]:
#check for dupplicates

before = len(sharks)
before
sharks = sharks.drop_duplicates()
after = len(sharks)
after
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [6]:
#check the amount of null in each column

null_cols=sharks.isnull().sum()
null_cols

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [7]:
# drop the column with over 4500 null cells

null_cols[null_cols>4500]
drop_cols=list(null_cols[null_cols>4500].index)
sharks1=sharks.drop(drop_cols, axis = 1)
sharks1=sharks1.drop(['Name','Investigator or Source','pdf', 'href formula', 'href','original order', 'Injury'], axis=1)
sharks1

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,N,13h00,NaN,2016.09.18.c,2016.09.18.c
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,N,11h00,NaN,2016.09.18.b,2016.09.18.b
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,N,10h43,NaN,2016.09.18.a,2016.09.18.a
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,N,NaN,NaN,2016.09.17,2016.09.17
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,M,NaN,N,NaN,2 m shark,2016.09.16,2016.09.15
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,N,NaN,NaN,2016.09.15.R,2016.09.15.R
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,N,15h15,3' to 4' shark,2016.09.11,2016.09.11
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,N,14h30,"Tiger shark, 10?",2016.09.07,2016.09.07
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,Y,15h40,NaN,2016.09.06,2016.09.06
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,N,Late afternoon,NaN,2016.09.05.b,2016.09.05.b
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,M,NaN,N,Late afternoon,NaN,2016.09.05.a,2016.09.05.a
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,M,9,N,NaN,NaN,2016.09.04,2016.09.04
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,M,22,N,NaN,White shark,2016.09.01,2016.09.01
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,25,N,15h00,"Bull shark, 6'",2016.08.29.b,2016.08.29.b
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,37,N,14h00,NaN,2016.08.29.a,2016.08.29.a
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,M,20,N,17h00,"Bull shark, 3.5 m",2016.08.27,2016.08.27
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,49,N,16h00,NaN,2016.08.25,2016.08.25
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,M,15,N,NaN,NaN,2016.08.07,2016.08.07
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,M,21,N,NaN,"Tiger shark, 10'",2016.08.06,2016.08.06
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,22,N,NaN,Blacktip shark,2016.08.04,2016.08.04
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,M,40,N,11h30,Blue shark,2016.07.29,2016.07.29
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,M,72,N,NaN,NaN,2016.07.28.R,2016.07.28.R
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,M,NaN,N,NaN,White shark,2016.07.28,2016.07.28
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,M,43,N,NaN,"Nurse shark, 4'",2016.07.27,2016.07.27
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,M,18,N,12h00,NaN,2016.07.26,2016.07.26
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,M,29,N,19h05,NaN,2016.07.24,2016.07.24
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,M,36,N,NaN,NaN,2016.07.23.b,2016.07.23.b
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,M,NaN,N,NaN,"Bull shark, 6'",2016.07.23.a,2016.07.23.a
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,M,31,N,After noon,"reef shark, 1m",2016.07.20,2016.07.20
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,NaN,NaN,N,NaN,"Tiger shark, 10'",2016.07.17,2016.07.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,ND.0031,World War II,0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",M,NaN,N,NaN,NaN,ND.0031,ND.0031
5963,ND.0030,Before 1905,0,Unprovoked,BURMA,NaN,NaN,Bathing,M,NaN,Y,NaN,NaN,ND.0030,ND.0030
5964,ND.0028,A few years before 1938,0,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,M,NaN,N,NaN,White shark,ND.0028,ND.0028
5965,ND.0027,No date,0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,M,NaN,N,NaN,NaN,ND.0027,ND.0027
5966,ND.0026,Early 1930s,0,Unprovoked,BELIZE,NaN,NaN,Standing,M,16,Y,NaN,12' tiger shark,ND.0026,ND.0026
5967,ND.0025,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,M,NaN,UNKNOWN,NaN,NaN,ND.0025,ND.0025
5968,ND.0024,Between 1918 & 1939,0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,Y,NaN,NaN,ND.0024,ND.0024
5969,ND.0023,No date,0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,F,NaN,N,NaN,NaN,ND.0023,ND.0023
5970,ND.0022,No date,0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,M,NaN,N,NaN,NaN,ND.0022,ND.0022
5971,ND.0021,No date,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,M,NaN,Y,NaN,NaN,ND.0021,ND.0021
5972,ND.0020,1920 -1923,0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,M,NaN,Y,NaN,NaN,ND.0020,ND.0020
5973,ND.0019,Before 1921,0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,M,NaN,N,NaN,NaN,ND.0019,ND.0019
5974,ND.0018,Before 1911,0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,Swimming around anchored ship,M,NaN,N,NaN,NaN,ND.0018,ND.0018
5975,ND.0017,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,M,NaN,Y,NaN,NaN,ND.0017,ND.0017
5976,ND.0016,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,M,NaN,Y,NaN,NaN,ND.0016,ND.0016
5977,ND.0015,Before 1917,0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,NaN,NaN,Y,NaN,NaN,ND.0015,ND.0015
5978,ND.0014,Before 17-Jul-1916,0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,M,NaN,N,NaN,NaN,ND.0014,ND.0014
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,M,NaN,Y,NaN,NaN,ND.0013,ND.0013
5980,ND.0012,Before 19-Jul-1913,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,M,NaN,Y,NaN,NaN,ND.0012,ND.0012
5981,ND.0011,Before 1911,0,Unprovoked,ASIA?,NaN,NaN,Swimming,M,NaN,N,NaN,NaN,ND.0011,ND.0011
5982,ND.0010,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,F,NaN,N,NaN,NaN,ND.0010,ND.0010
5983,ND.0009,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointer,ND.0009,ND.0009
5984,ND.0008,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointer,ND.0008,ND.0008
5985,ND.0007,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointers,ND.0007,ND.0007
5986,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,M,NaN,Y,NaN,Said to involve a grey nurse shark that leapt ...,ND.0006,ND.0006
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,Y,NaN,NaN,ND.0005,ND.0005
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,Y,NaN,NaN,ND.0004,ND.0004
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,Y,NaN,NaN,ND.0003,ND.0003
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,Y,NaN,NaN,ND.0002,ND.0002
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,Y,NaN,NaN,ND.0001,ND.0001

In [8]:
# Check id Case Number = Case Number 1 = Case Number 2

sharks1[(sharks1['Case Number']==sharks1['Case Number.1']) & (sharks1['Case Number']==sharks1['Case Number.2'])]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Age,Fatal (Y/N),Time,Species,Case Number.1,Case Number.2
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,16,N,13h00,NaN,2016.09.18.c,2016.09.18.c
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,36,N,11h00,NaN,2016.09.18.b,2016.09.18.b
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,43,N,10h43,NaN,2016.09.18.a,2016.09.18.a
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,M,NaN,N,NaN,NaN,2016.09.17,2016.09.17
5,2016.09.15.R,15-Sep-16,2016,Boat,AUSTRALIA,Western Australia,Bunbury,Fishing,NaN,NaN,N,NaN,NaN,2016.09.15.R,2016.09.15.R
6,2016.09.11,11-Sep-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,60s,N,15h15,3' to 4' shark,2016.09.11,2016.09.11
7,2016.09.07,07-Sep-16,2016,Unprovoked,USA,Hawaii,"Makaha, Oahu",Swimming,F,51,N,14h30,"Tiger shark, 10?",2016.09.07,2016.09.07
8,2016.09.06,06-Sep-16,2016,Unprovoked,NEW CALEDONIA,North Province,Koumac,Kite surfing,M,50,Y,15h40,NaN,2016.09.06,2016.09.06
9,2016.09.05.b,05-Sep-16,2016,Unprovoked,USA,South Carolina,"Kingston Plantation, Myrtle Beach, Horry County",Boogie boarding,F,12,N,Late afternoon,NaN,2016.09.05.b,2016.09.05.b
10,2016.09.05.a,05-Sep-16,2016,Unprovoked,AUSTRALIA,Western Australia,Injidup,Surfing,M,NaN,N,Late afternoon,NaN,2016.09.05.a,2016.09.05.a
11,2016.09.04,04-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Body boarding,M,9,N,NaN,NaN,2016.09.04,2016.09.04
12,2016.09.01,01-Sep-16,2016,Unprovoked,USA,California,"Refugio State Beach, Santa Barbara County",Spearfishing,M,22,N,NaN,White shark,2016.09.01,2016.09.01
13,2016.08.29.b,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,25,N,15h00,"Bull shark, 6'",2016.08.29.b,2016.08.29.b
14,2016.08.29.a,29-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,37,N,14h00,NaN,2016.08.29.a,2016.08.29.a
15,2016.08.27,27-Aug-16,2016,Unprovoked,REUNION,NaN,Boucan Canot,Surfing,M,20,N,17h00,"Bull shark, 3.5 m",2016.08.27,2016.08.27
16,2016.08.25,25-Aug-16,2016,Unprovoked,USA,Florida,"Ponte Vedra, St. Johns County",Wading,M,49,N,16h00,NaN,2016.08.25,2016.08.25
17,2016.08.07,07-Aug-16,2016,Unprovoked,BAHAMAS,New Providence Island,Nassau,Snorkeling,M,15,N,NaN,NaN,2016.08.07,2016.08.07
18,2016.08.06,06-Aug-16,2016,Unprovoked,USA,Hawaii,Maui,SUP Foil boarding,M,21,N,NaN,"Tiger shark, 10'",2016.08.06,2016.08.06
19,2016.08.04,04-Aug-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,M,22,N,NaN,Blacktip shark,2016.08.04,2016.08.04
20,2016.07.29,29-Jul-16,2016,Unprovoked,SPAIN,Alicante Province,Arenales del Sol,Swimming,M,40,N,11h30,Blue shark,2016.07.29,2016.07.29
21,2016.07.28.R,28-Jul-16,2016,Unprovoked,CHINA,Hong Kong,NaN,Swimming,M,72,N,NaN,NaN,2016.07.28.R,2016.07.28.R
22,2016.07.28,28-Jul-16,2016,Boat,AUSTRALIA,Western Australia,Near Albany,Kayaking,M,NaN,N,NaN,White shark,2016.07.28,2016.07.28
23,2016.07.27,27-Jul-16,2016,Provoked,USA,Florida,"Florida Keys, Monroe County",Lobstering,M,43,N,NaN,"Nurse shark, 4'",2016.07.27,2016.07.27
24,2016.07.26,26-Jul-16,2016,Unprovoked,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,M,18,N,12h00,NaN,2016.07.26,2016.07.26
25,2016.07.24,24-Jul-16,2016,Unprovoked,JAPAN,Kochi Prefecture,Irino Beach,Surfing,M,29,N,19h05,NaN,2016.07.24,2016.07.24
26,2016.07.23.b,23-Jul-16,2016,Unprovoked,AUSTRALIA,Tasmania,Clifton Beach,Surfing,M,36,N,NaN,NaN,2016.07.23.b,2016.07.23.b
27,2016.07.23.a,23-Jul-16,2016,Unprovoked,BAHAMAS,Abaco Islands,Green Turtle Cay,Spearfishing,M,NaN,N,NaN,"Bull shark, 6'",2016.07.23.a,2016.07.23.a
28,2016.07.20,20-Jul-16,2016,Provoked,AUSTRALIA,Queensland,"20 k off The Spit, off the Gold Coast",Fishing,M,31,N,After noon,"reef shark, 1m",2016.07.20,2016.07.20
29,2016.07.17,17-Jul-16,2016,Boat,USA,Alabama,8 miles off Mobile,Fishing in Alabama Deep Fishing Rodeo,NaN,NaN,N,NaN,"Tiger shark, 10'",2016.07.17,2016.07.17
30,2016.07.16.b,16-Jul-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,F,9,N,1300,NaN,2016.07.16.b,2016.07.16.b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962,ND.0031,World War II,0,Sea Disaster,PAPUA NEW GUINEA,Madang Province,Off Lae,"Aircraft ditched in the sea, swimming ashore",M,NaN,N,NaN,NaN,ND.0031,ND.0031
5963,ND.0030,Before 1905,0,Unprovoked,BURMA,NaN,NaN,Bathing,M,NaN,Y,NaN,NaN,ND.0030,ND.0030
5964,ND.0028,A few years before 1938,0,Boat,ITALY,Adriatic Sea,NaN,Wooden fishing boat,M,NaN,N,NaN,White shark,ND.0028,ND.0028
5965,ND.0027,No date,0,Unprovoked,GREECE,Dodecanese Islands,Symi Island,Sponge diving,M,NaN,N,NaN,NaN,ND.0027,ND.0027
5966,ND.0026,Early 1930s,0,Unprovoked,BELIZE,NaN,NaN,Standing,M,16,Y,NaN,12' tiger shark,ND.0026,ND.0026
5967,ND.0025,Before 1927,0,Unprovoked,AUSTRALIA,New South Wales,"Spectacle Island, Port Jackson",NaN,M,NaN,UNKNOWN,NaN,NaN,ND.0025,ND.0025
5968,ND.0024,Between 1918 & 1939,0,Unprovoked,REUNION,Saint-Denis,Barachois,Swimming,NaN,NaN,Y,NaN,NaN,ND.0024,ND.0024
5969,ND.0023,No date,0,Unprovoked,SOUTH AFRICA,Western Cape Province,Arniston,Wading,F,NaN,N,NaN,NaN,ND.0023,ND.0023
5970,ND.0022,No date,0,Unprovoked,AUSTRALIA,NaN,NaN,Pearl diving,M,NaN,N,NaN,NaN,ND.0022,ND.0022
5971,ND.0021,No date,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Swimming in pool formed by construction of a w...,M,NaN,Y,NaN,NaN,ND.0021,ND.0021
5972,ND.0020,1920 -1923,0,Unprovoked,AUSTRALIA,Queensland,Great Barrier Reef,NaN,M,NaN,Y,NaN,NaN,ND.0020,ND.0020
5973,ND.0019,Before 1921,0,Unprovoked,USA,Florida,"Gadsden Point, Tampa Bay",Fishing,M,NaN,N,NaN,NaN,ND.0019,ND.0019
5974,ND.0018,Before 1911,0,Unprovoked,VIETNAM,Ba Ria-Vung Tau Province,V?ng Tàu,Swimming around anchored ship,M,NaN,N,NaN,NaN,ND.0018,ND.0018
5975,ND.0017,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Crew swimming alongside their anchored ship,M,NaN,Y,NaN,NaN,ND.0017,ND.0017
5976,ND.0016,Before 1921,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,4 men were bathing,M,NaN,Y,NaN,NaN,ND.0016,ND.0016
5977,ND.0015,Before 1917,0,Unprovoked,FIJI,Moala Island,NaN,Wreck of large double sailing canoe,NaN,NaN,Y,NaN,NaN,ND.0015,ND.0015
5978,ND.0014,Before 17-Jul-1916,0,Unprovoked,USA,North Carolina,Somewhere between Hatteras and Beaufort,Swimming,M,NaN,N,NaN,NaN,ND.0014,ND.0014
5979,ND.0013,No date (3 days after preceding incident) & pr...,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Fishing,M,NaN,Y,NaN,NaN,ND.0013,ND.0013
5980,ND.0012,Before 19-Jul-1913,0,Unprovoked,SOUTH AFRICA,KwaZulu-Natal,Durban,Wading,M,NaN,Y,NaN,NaN,ND.0012,ND.0012
5981,ND.0011,Before 1911,0,Unprovoked,ASIA?,NaN,NaN,Swimming,M,NaN,N,NaN,NaN,ND.0011,ND.0011
5982,ND.0010,Circa 1862,0,Unprovoked,USA,Hawaii,Puna,NaN,F,NaN,N,NaN,NaN,ND.0010,ND.0010
5983,ND.0009,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointer,ND.0009,ND.0009
5984,ND.0008,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointer,ND.0008,ND.0008
5985,ND.0007,Before 1906,0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,M,NaN,Y,NaN,Blue pointers,ND.0007,ND.0007
5986,ND.0006,Before 1906,0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,M,NaN,Y,NaN,Said to involve a grey nurse shark that leapt ...,ND.0006,ND.0006
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,Y,NaN,NaN,ND.0005,ND.0005
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,Y,NaN,NaN,ND.0004,ND.0004
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,Y,NaN,NaN,ND.0003,ND.0003
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,Y,NaN,NaN,ND.0002,ND.0002
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,Y,NaN,NaN,ND.0001,ND.0001

In [9]:
# Since Case Number = Case Number 1 = Case Number 2, we can remove the last 2

sharks1=sharks1.drop(['Case Number.1','Case Number.2'], axis = 1)

In [20]:
#Checking if relevant
sharks1['Type'].value_counts()

Unprovoked    5317
Provoked       550
Don't know     125
Name: Type, dtype: int64

In [11]:
#Cheking if in columns we have similar infos but with different writings and group

print(set(sharks1['Type']))

sharks1['Type'] = sharks1['Type'].str.replace('Invalid', 'Unprovoked')
sharks1['Type'] = sharks1['Type'].str.replace('Boating', 'Unprovoked')
sharks1['Type'] = sharks1['Type'].str.replace('Boat', 'Unprovoked')
sharks1['Type'] = sharks1['Type'].str.replace('Sea Disaster', 'Unprovoked')

{'Invalid', 'Sea Disaster', 'Boat', 'Boating', 'Unprovoked', 'Provoked'}

In [12]:
# Rename columns to avoid spaces

sharks1.rename(columns={'Case Number': 'Case_Number', 'Fatal (Y/N)': 'Fatal', 'Sex ': 'Sex'}, inplace=True)

In [13]:
#Checking if relevant
sharks1['Sex'].value_counts()

M      4835
F       585
M         2
N         1
.         1
lli       1
Name: Sex, dtype: int64

In [14]:
# Remove all value in gender which aren't M or F
print(sharks1.Sex.unique())
sharks1['Sex'] = sharks1['Sex'].replace(np.nan, "Don't know")

sharks1['Sex'] = sharks1['Sex'].str.replace('M ', 'M')
sharks1['Sex'] = sharks1['Sex'].str.replace('lli', "Don't know")
sharks1['Sex'] = sharks1['Sex'].str.replace('N', "Don't know")
sharks1['Sex'] = sharks1['Sex'].str.replace('.', "Don't know")

['M' nan 'F' 'M ' 'lli' 'N' '.']

In [15]:
#Checking if relevant
sharks1['Fatal'].value_counts()

N          4315
Y          1552
UNKNOWN      94
 N            8
n             1
#VALUE!       1
F             1
N             1
Name: Fatal, dtype: int64

In [16]:
print(sharks1.Fatal.unique())
sharks1.loc[(sharks1['Fatal']!='Y')&(sharks1['Fatal']!='N')] = "Don't know"

['N' 'Y' nan 'UNKNOWN' ' N' 'F' 'N ' '#VALUE!' 'n']

In [17]:
#Clean the Age column by getting only the digits ===> to be improved

sharks1.Age = sharks1.Age.str.extract('(\d{1,2})')

In [18]:
print(set(sharks1['Age']))

{nan, '42', '37', '66', '11', '40', '65', '31', '12', '70', '77', '54', '38', '62', '75', '29', '16', '86', '41', '9', '58', '35', '87', '43', '69', '14', '22', '78', '28', '24', '23', '56', '13', '72', '61', '48', '5', '30', '39', '10', '20', '21', '19', '1', '6', '68', '51', '73', '7', '84', '71', '18', '55', '59', '67', '49', '81', '25', '32', '15', '36', '63', '3', '34', '60', '45', '74', '47', '53', '26', '8', '17', '44', '57', '33', '64', '2', '27', '50', '46', '52'}

In [19]:
sharks1.loc[sharks1['Age']<12] = "Child (under 12)"
sharks1.loc[sharks1['Age']>55] = "Elder (over 55)"

TypeError: '<' not supported between instances of 'str' and 'int'