## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1=random.sample(range(101), k=80)

print (sample_list_1)

[66, 25, 100, 82, 6, 44, 97, 86, 40, 78, 90, 57, 87, 83, 85, 11, 68, 36, 58, 88, 93, 3, 60, 37, 73, 94, 54, 10, 77, 59, 31, 17, 72, 1, 22, 99, 8, 27, 46, 14, 89, 69, 62, 45, 91, 42, 26, 75, 32, 2, 67, 96, 18, 98, 5, 53, 61, 64, 35, 0, 9, 30, 19, 63, 39, 84, 71, 55, 41, 20, 21, 38, 47, 15, 34, 13, 92, 52, 48, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1=set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
# Your code here
sample_list_2=[]

for i in range (80):
    sample_list_2.append(random.randint(0,100))

print(sample_list_2)

[63, 26, 63, 25, 30, 49, 44, 68, 70, 78, 40, 65, 71, 79, 46, 8, 10, 98, 22, 49, 24, 36, 21, 47, 14, 84, 47, 81, 70, 82, 94, 67, 34, 42, 42, 23, 9, 2, 70, 63, 81, 68, 5, 88, 29, 48, 62, 2, 69, 25, 19, 58, 3, 46, 48, 29, 43, 5, 4, 55, 58, 41, 21, 89, 82, 12, 73, 91, 77, 8, 87, 60, 82, 28, 44, 6, 44, 94, 80, 27]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set2=set(sample_list_2)

print(len(set2))

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3=set1-set2
set3

{0,
 1,
 11,
 13,
 15,
 17,
 18,
 20,
 31,
 32,
 35,
 37,
 38,
 39,
 45,
 52,
 53,
 54,
 57,
 59,
 61,
 64,
 66,
 72,
 75,
 83,
 85,
 86,
 90,
 92,
 93,
 96,
 97,
 99,
 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
# Your code here
set4=set2-set1
set4

{4, 12, 23, 24, 28, 29, 49, 65, 70, 79, 80, 81}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
# Your code here
set5=set1&set2
set5

{2,
 3,
 5,
 6,
 8,
 9,
 10,
 14,
 19,
 21,
 22,
 25,
 26,
 27,
 30,
 34,
 36,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 55,
 58,
 60,
 62,
 63,
 67,
 68,
 69,
 71,
 73,
 77,
 78,
 82,
 84,
 87,
 88,
 89,
 91,
 94,
 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3)) #set1-set2
print(len(set4)) #set2-set1
print(len(set5)) #set1&set2

80
57
35
12
45

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3,set5)
set6

{0,
 1,
 2,
 3,
 5,
 6,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 25,
 26,
 27,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 52,
 53,
 54,
 55,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 71,
 72,
 73,
 75,
 77,
 78,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 96,
 97,
 98,
 99,
 100}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
if set1==set6:
    print("True")
else:
    print ("False")

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
contains12=set2.issubset(set1)
print(f'Set 1 contains set 2: {contains12}')

contains13=set3.issubset(set1)
print(f'Set 1 contains set 3: {contains13}')

Set 1 contains set 2: False
Set 1 contains set 3: True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Your code here
union1 = set3.union(set4,set5)
print (union1)

union2 = set1.union(set2)
print (union2)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 75, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
pop=set1.pop()
print(set1)

{1, 2, 3, 5, 6, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 20, 21, 22, 25, 26, 27, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 75, 77, 78, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [17]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove = set(list_to_remove)

remove1 = set1 - set_to_remove
print(remove1)

{2, 3, 5, 6, 8, 10, 13, 14, 15, 17, 18, 20, 22, 25, 26, 27, 30, 32, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 47, 48, 52, 53, 54, 55, 57, 58, 60, 62, 63, 64, 66, 67, 68, 72, 73, 75, 77, 78, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98, 100}